/*  */
:root {
    --color01: #BCF584;
    --color02: #62F582;
    --back: #3D6650;
    --light01: #E8F593;
    --light02: #EB138D;
}
* {padding:0;margin:0;box-sizing:border-box;}
::-webkit-scrollbar {width: 1rem;}
::-webkit-scrollbar-track {
    border-radius: 1em;
    background: var(--back);
}
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: var(--color01);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--light01);
}

/* body */
body {
    color: var(--color01);
    background: var(--back);
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-variation-settings: "MONO" 0;
    overflow-x: hidden;
}
section {padding: 1em;}
h1 {
    font-weight: 900;
    font-size: 8em;
}
h2 {
    font-weight: 600;
    font-size: 4em;
}
p {
    font-weight: 800;
    font-size: 2em;
}
img {
    height: 64vh;
    border-radius: 1em;
    transition: 400ms;
}
img:hover {
    scale: 1.1;
}
video {
    border-radius: 1em;
    width: 60vw;
}
a {
    color: var(--light02);
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-variation-settings: "MONO" 0;
    font-weight: 600;
    text-decoration: none;
}

/* header */
.title {
    padding: 4em;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.highlight {
    padding: 1em;
    color: var(--light01);
}
.frame {
    position: relative;
    width: fit-content;
    background: var(--light01);
    border-color: var(--light01);
    border-style: solid;
    border-radius: 1em;
    border-width: 1em;
}
.description {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* content */
.table {
    padding: 2em;
    display: flex;
    align-items: center;
    gap: 2em;
}

/*  */
@font-face {font-family: Gabarito; src: url(./Gabarito/Gabarito.ttf);}
@font-face {font-family: Rokkitt; src: url(./Rokkitt/Rokkitt.ttf);}

footer {
    border-start-start-radius: 16px;
    padding: 1em;
    background: rgb(30, 15, 45);
    color: rgb(240, 255, 255);
    font: 48px Rokkitt;
    /* overflow: hidden; */
}
footer a {
    color: rgb(240, 255, 255);
    text-decoration-color: rgb(240, 255, 255);
    font: 48px Rokkitt;
    
    transition: 256ms;
} footer a:hover {font-size: 120%; background: rgb(240, 255, 255); color: rgb(30, 15, 45);padding: 1rem;}